<%- include('../partials/header') %> 
<form class="form" method="POST" action="/props">
    <label>Title:</label>
    <input name="title">
    <label>Dependencies:</label>
    <input name="dependencies">
    <label>Contents:</label>
    <textarea rows="8" name="contents"></textarea>
      <button type="submit" class="btn btn-primary">Save</button>
</form>
<%- include('../partials/footer') %>